.navigation {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.link {
  margin-right: 20px;
  font-size: large;
}
.linkActive {
  color: rgb(89, 89, 155);
  font-weight: 500;
}
.userNavContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
